includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app

    level: 5   # 0 (permissif) → 10 (strict), commence à 5

    # Ignorer les faux positifs courants Laravel
    ignoreErrors:
        - '#Unsafe usage of new static#'
